{% extends 'base.html'%} {% block content %}
<h3>LOGIN</h3>
<form method="post" action="{% url 'registration:user_login' %}">
  {%csrf_token%}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input
      type="username"
      class="form-control"
      name="username"
      aria-describedby="emailHelp"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" required />
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
<a
  class="nav-link active"
  aria-current="page"
  href="{% url 'registration:signup' %} "
  >SignUp</a
>
{% endblock %}
